<h3 class="page-header">
  Details about the menu (defined as the food/restaurant specific item)
  <span class="pull-right">
<!--  -->
  </span>
</h3>


<h1> TESTING -Need to do a lot of formatting - summary ratings on prior page, with more detail ratings hear?</h1>
<h4> <%= @place.restaurant.name %> </h4>
