Trying to set up the ratings

<%= Rating.all %>

<div class="col-sm-12">

  <form action="/foods" method="POST">
  <div class="form-group">
    <label for="category">Name of the Food or Drink</label>
<!-- Is there a way to check if something similar is already in the database or avoid duplicates?  -->
    <input name="category" type="string" class="form-control" id="category" placeholder="Enter your food or drink" >
  </div>

  <div class="form-group">
    <label for="description"> Food Category Description</label>
    <input name="description" type="text" class="form-control" id="description" placeholder="Try to be witty when you describe it" >
  </div>
  
  <button type="submit" class="btn btn-default"> Submit</button>

  </form>
</div>